[Unit]
Description=Taubyte Node Service

[Service]
Type=simple
ExecStartPre=-/usr/sbin/setenforce 0
ExecStart=/tb/bin/tau start -s %i --root /tb
StandardOutput=journal
User=root
Group=root

# ref: https://unix.stackexchange.com/questions/345595/how-to-set-ulimits-on-service-with-systemd
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target