# Server Configuration
SSH_KEY=ssh-key.pem
SERVERS_CSV_PATH=hosts.csv
SSH_USER=ssh-user

# Domain Configuration
ROOT_DOMAIN=pom.ac
GENERATED_DOMAIN=g.pom.ac

# Namecheap DNS Configuration (Optional)
NAMECHEAP_API_KEY=your_api_key
NAMECHEAP_IP=your_ip
NAMECHEAP_USERNAME=your_username 